<%- include("header") -%>

<div class="about">
  <h2>Contact Me</h2>
  <a href="https://github.com/Maahi129">GITHUB</a>
  <a href="https://instagram.com/ponnurumahesh129?utm_medium=copy_link">INSTAGRAM</a>
  <a href="https://www.facebook.com/mahesh.maahi.58118">FACEBOOK</a>
</div>

<%- include("footer") -%>
